<div class="jumbotron text-center mt-5">
  <h1 class="display-4">Sorry, we couldn't find that link</h1>
  <p class="lead"></p>
  <p class="lead">Please try again or contact support for mmore help.</p>
</div>

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h2 class="fw-light">404</h2>
      </div>
    </div>
  </section>
</main>
